*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #333;
}

.container{
    background: #fafafa;
    width: 100vw;
    padding: 50px;
    min-height: 100vh;
    transform-origin: top left;
    transition: transform 0.3s linear;
}

.container.show-nav{
    transform: rotate(-20deg);
}
.circle{
    background: #ff7979;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}
.container.show-nav .circle{
    transform: rotate(-70deg);
}
.circle button{
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 50%;
    color: white;
    background: transparent;
    height: 100px;
    font-size: 25px;
    border: 0;
}

.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle button#open{
    left: 60%;
}

.circle button#close{
    transform-origin: top left;
    transform: rotate(90deg);
}

.content{
    max-width: 1000px;
    margin: 50px auto;
}

.content p{
    color: #333;
    line-height: 1.5;
}

.content small{
    color: #555;
    font-style: italic;
}

.content h3{
    margin: 20px 0;
}

.content img{
    max-width: 100%;
}

nav{
    position: fixed;
    bottom: 40px;
    left: 0;
}

.container.show-nav + nav li{
    transform: translate(0);
    transition: transform 0.3s;
}
nav ul{
    list-style: none;
    padding-left: 30px;
}
nav ul li i{
    font-size: 20px;
    margin-right: 10px;
}
nav li{
    text-transform: uppercase;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
}

nav li:nth-child(2){
    margin-left: 15px;
    transform: translateX(-150%);
}
nav li:nth-child(3){
    margin-left: 30px;
    transform: translateX(-200%);
}




